/*----- Default Styles-----*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.fll{float: left;}
.flr{float: right;}
.clear{clear: both;}
.m-bottom-20{margin-bottom: 20px !important;}
.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.main-container {
	clear: both;
}
.align-items-center {
	align-items: center !important;
}
h1,h2,h3,h4,h5,h6{ font-family: 'Raleway', sans-serif;}
body {
	font-size: 14px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	color: #414040;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-size: 36px;
}
html, body, aside, header, footer {
	display: block;
	margin: 0;
}
a:link, a:visited {
    text-decoration: none;
}

ul, li, img { padding:0;}
li{ list-style:none;}
img{ border:none; margin:0;}

.header {
	margin: 20px 10px;
	height: 60px;
}
.logo {
	float: left;
	height: 55px;
}
.navigation {
	float: right;
	margin-top: 5px;
}
.logo img {
	max-height: 90%;
}

.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 0 22px;
	text-decoration: none;
	font-size: 13px;
	color: #292929;
	text-transform: uppercase;
	font-weight: 600;
	opacity: 0.5;
}

.topnav a:hover {

	opacity:1;
}
.login-btn {
	border: 2px solid #F6511D;
	color: #F6511D !important;
	opacity: 1 !important;
	border-radius: 25px;
	margin-left: 15px;
}
.login-btn:hover{
	background: #F6511D;
	color: #ffffff !important;
	color: #ffffff !important;
}
.signup-btn {
	background: #F6511D;
	opacity: 1 !important;
	color: #ffffff !important;
	border-radius: 25px;
	margin-left: 5px;
	border: 2px solid #F6511D !important;
}
.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
.btn {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 2px solid #F6511D;
	padding: 15px 30px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #F6511D;
	text-align: center;
}
nav .btn, .nav-bar .btn {
	margin: 0;
	height: auto;
}
.nav-bar a {
	display: inline-block;
	height: 55px;
}
.btn-rounded {
	border-radius: 25px;
}
.btn-filled {
	background: #F6511D;
	color: #fff;
}


.btn-sm {
	height: 30px;
	font-size: 13px;
	line-height: 27px;
	min-width: 0;
}

a, a:visited, a:focus, a:active, a:hover {
	text-decoration: none;
	outline: none;
}
.bg-shape {
    position: absolute;
    background-color: #ee5135;
    background-image: -webkit-linear-gradient(350deg,#F6511D,#F6511D);
    background-image: -o-linear-gradient(350deg,#F6511D,#F6511D);
    background-image: linear-gradient(100deg,#F6511D,#F6511D);
    top: -350px;
    right: -110px;
    border-radius: 8%;
    width: 50%;
    height: 800px;
    -webkit-transform: skew(3deg,30deg);
    -ms-transform: skew(3deg,30deg);
    transform: skew(3deg,30deg);
    opacity: 1;
    z-index: -1;
}

.bg-circle {
    position: absolute;
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(350deg,#F8F8F8,#F8F8F8);
    background-image: -o-linear-gradient(350deg,#F8F8F8,#F8F8F8);
    background-image: linear-gradient(100deg,#F8F8F8,#F8F8F8);
    top: -340px;
    left: -260px;
    border-radius: 0;
    height: 1065px;
    width: 950px;
    opacity: 1;
    z-index: -1;
    transform-origin: bottom left;
   -ms-transform: skew(-20deg, 0deg);
   -webkit-transform: skew(-20deg, 0deg);
   transform: skew(-20deg, 0deg);
}
.bg-dark p, nav.bg-dark p, footer.bg-dark p, .bg-primary p, .bg-dark span, nav.bg-dark span, footer.bg-dark span, .bg-primary span, .bg-dark li, nav.bg-dark li, footer.bg-dark li, .bg-primary li {
	color: #fefefe;
}
.banner-left {
	float: left;
	width: 50%;
	margin-left: 10%;
}
.banner-right {
	float: left;
	width: 40%;
}
.banner-right img {
	float: right;
	height:500px;
}
.btn:hover {
	background: #F6511D;
	color: #fff;
	border-color:#ffffff;
}
.banner-text {
	margin-top: 20px;
}
.banner-text p {
	width: 72%;
	text-align: justify;
	margin-bottom: 30px;
}
.banner-text h2 {
	font-size: 40px;
	font-weight: 600;
	color: #323232;
	width: 72%;
	line-height: 48px;
}
.banner-text h4 {
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	width: 60%;
	text-align: center;
}
.signup-form h3 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
}
.signup-section {
	float: left;
	width: 75%;
	margin: 10px 0;
}
.signup-form input[type="text"] {
	width: 45%;
	height: 50px;
	padding: 1px 15px;
	border: 1px solid #e2e2e2;
	background: transparent;
	color: #ffffff;
}
.submit-btn {
	background: #ffffff;
	color: #F6511D;
	margin: 10px 0;
	height: 55px !important;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	border: 1px solid #fff;
	width: 48%;
	font-weight: 500;
	letter-spacing: 1px;
}
.user-testimonial h2, .how-it-works h2, .videos h2, .about-text h2, .skill-builder h2 {
	font-size: 36px;
	position: relative;
	text-align: center;
	margin-bottom: 50px;
}
.about-text h2::after, .videos h2::after, .user-testimonial h2::after, .how-it-works h2::after, .skill-builder h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 2px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #F6511D;
	top: 50px;
}

.user-testimonial {
	background: #f8f8f8;
	text-align: center;
	padding: 60px 0 40px;
	overflow: hidden;
	position: relative;
	height: 250px;
}
.testi1 {
	margin-top: 50px;
	font-size: 16px;
	line-height: 28px;
	text-align:center;
}

.user-name {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
}

.fa.fa-quote-right {
	float: right;
	position: absolute;
	top: 70px;
	right: -50px;
	font-size: 36px;
	color: #cccccc;
}

.testi1 p {
	font-size: 16px;
	color: #494949;
	line-height: 2em;
	margin-top: 20px;
}

.cust-section {
	background: #F6511D url(../images/alexa-skill-bg.png) no-repeat center 50px;
	padding: 80px 0;
}
.cust-section h2{ color:#ffffff; text-transform:uppercase;}

.cust-section h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
form.halves input, form.halves button {
	width: 46%;
	float: left;
	margin-left: 2.5%;
	margin-bottom: 16px;
}


form iframe.mail-list-form {
	display: none;
}
iframe {
	border: none;
}

input.transparent, button.transparent {
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff !important;
}

.signup-form {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 60px;
}


/*Footer*/

.bg-dark {
	background: #f6511d;
}
footer {
	padding: 40px 0;
}
.top-section {
	padding: 80px 0 20px;
	position: relative;
	overflow: hidden;
}
.social-list {
	font-size: 2em;
	text-align: center;
	padding: 12px;
	margin: 0 auto;
	display: inline-block;
}
.text-center {
	text-align: center;
}
.image-bg .icon, .bg-dark .icon {
	color: #fff;
}
.icon-lg {
	font-size: 40px !important;
}
.list-inline > li {
	padding: 0 8px;
}
.list-inline > li:last-child {
	padding-right: 0;
}
.list-inline li {
	float: left;
}
.social-footer {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}
#about {
	padding: 60px 0;
	background: #ffffff;
}
.about-text p {
	width: 60%;
	margin: 0 auto 40px;
}
.about-text span a {
	color: #f6511d;
}
.about-video {
	width: 1020px;
	margin: 0 auto;
	background: url(../images/screen-bg.png);
	height: 540px;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}
.about-video iframe {
	width: 67.5%;
	height: 416px;
	position: absolute;
	left: 15.2%;
	top: 35px;
}
.client-section {
	width: 100%;
	display: block;
}
.client-imgs {
	width: 90%;
	margin: 20px auto;
}
.client-imgs img {
	max-width: 220px;
}

.videos {
	padding: 60px 0;
	text-align: center;
}

.videos p {
	width: 45%;
	margin: 0 auto 40px;
}
.col-span-4 {
	width: 33.3%;
	float: left;
}
.col-span-4 iframe {
	width: 95%;
	height: 220px;
	background:url(../images/screen.png);
}
.video-links h5 {
	font-size: 14px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 40px;
}
.watch-btn {
	background: #f65725;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 15px;
	display: inline-block;
}
.client-logo {
	padding: 50px 0;
}
.how-it-works {
	overflow: hidden;
	width: 100%;
	padding: 60px 0;
	background: #f8f8f8;
}
.feature {
	width: 20%;
	float: left;
	text-align: center;
}
.work-steps {
	margin: 30px 0 0;
	float: left;
}
.steps-num {
	border: 3px solid #F6511D;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto 20px;
	vertical-align: middle;
	font-size: 36px;
	font-weight: 700;
	font-family: 'Barlow', sans-serif;
	line-height: 2.6em;
}
.steps-num:hover {
	background: #F6511D;
	color: #ffffff;
	transition: 0.3s linear;
}
.feature-disc h4 {
	font-size: 18px;
	font-weight: 600;
	padding: 0 20px;
	line-height: 24px;
	word-break: keep-all;
}
.social-footer a {
	color: #fff;
}
.feature-disc span{ 
	color:#F6511D; 
}
.skill-builder {
	padding: 60px 0 40px;
	overflow: hidden;
}
.skill-builder p {
	width: 44%;
	text-align: center;
	margin: 0 auto;
}
.builder-info {
	margin:1% 12%;
}
.builder-profile-api {
	width: 55%;
	float: left;
}
.builder-profile {
	width: 40%;
	margin: 40px auto;
	overflow: hidden;
}
.builder-info img {
	width: 140px;
	border-radius: 15px;
	float: left;
}
.profile {
	float: left;
	margin: 0 20px;
}
.profile h5 {
	font-size: 20px;
	margin: 10px;
}
.profile h6 {
	font-size: 15px;
	font-weight: 500;
	margin: 10px;
}
.profile a {
	background: #F6511D;
	color: #ffffff;
	padding: 2px;
	border-radius: 25px;
	margin: 20px 10px;
	display: block;
	text-align: center;
	width: 120px;
}
.cust-profile {
	background: #cccccc;
	width: 120px;
	height: 120px;
	float: left;
	margin: 10px;
	border-radius: 15px;
	text-align: center;
}
.cust-profile h3 {
	margin-top: 10px;
	line-height: 20px;
	padding: 20px 15px;
	text-transform: uppercase;
}


/*------------ Testimonial slider----------*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




/*----------------------------Responsive CSS-----------------------*/



@media screen and (min-width:1920px){

#about {
	padding: 80px 0;
}
.about-text p, .videos p {
	margin: 40px auto;
}
.testi1 {
	margin-top: 40px;
}
.user-testimonial {
	padding: 70px 0;
}
.builder-info {
	margin: 0 16%;
}
}




@media screen and (min-width:1660px){
.bg-circle {
	left: -100px;
	height: 1205px;
}
.signup-form {
	text-align: left;
}
body {
	font-size: 16px;
}
.about-text h2::after, .videos h2::after, .user-testimonial h2::after, .skill-builder h2::after {
	top: 48px;
}

}

@media screen and (max-width:1520px){
.builder-info {
	margin:1% 10%;
}
}

@media screen and (max-width:1367px){
.banner-text p {
	width: 78%;
}
.banner-text h2 {
	font-size: 32px;
	width: 80%;
}
.cust-profile {
	width: 110px;
	height: 110px;
}
.cust-profile h3 {
	font-size: 14px;
	padding: 15px;
}
.feature-disc h4 {
	font-size: 16px;
}
.builder-info {
	margin: 1% 4%;
}
}

@media screen and (max-width:1280px){
.banner-text p {
	width: 80%;
}
.banner-text h2 {
	font-size: 29px;
}
.signup-form h3 {
	font-size: 22px;
}
.builder-info img {
	width: 130px;
}
}


@media screen and (max-width:1024px){
.main-container {
	width: 100%;
	overflow: hidden;
	display: block;
}
.header {
	margin: 20px 60px;
}
.container {
	width: 100%;
}
.banner-left {
	width: 54%;
	margin-left: 6%;
}
.banner-right {
	float: right;
}
.banner-right img {
	height: 400px;
	margin-top: 40px;
}
.banner-text h2 {
	font-size: 22px;
}
.banner-text p {
	width: 80%;
}
.signup-form h3 {
	font-size: 20px;
	font-weight: bold;
}
.top-section {
	padding: 60px 0 40px;
}
.videos p {
	width: 65%;
}
.video-links {
	width: 90%;
	margin: 0 auto;

}
.bg-circle {
	left: -460px;
	height: 1000px;
}
.signup-form {
	width: 60%;
}
.cust-section {
	padding: 50px 0 0 0;
}
}



@media screen and (max-width:960px){
.logo img {
	width: 200px;
}
.banner-content {
	width: 60%;
	top: 12%;
}
.banner-content h1 {
	font-size: 36px;
}
.bg-circle {
	left: -500px;
}
.header {
	height: auto;
	overflow: hidden;
}
.about-video iframe {
	width: 80%;
	height: 375px;
	position: relative;
	left: 10%;
	top: 0;
}
.col-span-4 iframe {
	width: 90%;
	height: 180px;
}
.skill-builder p {
	width: 50%;
}
.about-video {
	width: 100%;
	background: transparent;
	height: 100%;
}
.signup-form {
	width: 70%;
}
.feature {
	width: 32%;
}
.builder-info img {
	width: 110px;
}
.profile a {
	margin: 0 10px;
}
.profile h5 {
	margin: 0 10px;
}
.builder-profile {
	width: 50%;
}
}

@media screen and (max-width: 800px) {
.bg-circle {
	top: -250px;
	left: -620px;
}
.banner-right img {
	height: 330px;
	margin-top: 100px;
}
.header {
	margin: 20px 30px;
}
.col-span-4 iframe {
	width: 90%;
	height: auto;
}
.top-section {
	padding: 20px 0 40px;
}

.signup-form h3 {
	font-size: 15px;
	font-weight: bold;
}
.banner-text h2 {
	font-size: 32px;
	line-height: 36px;
}
.user-testimonial h2, .how-it-works h2, .videos h2, .about-text h2, .cust-section h2, .skill-builder h2 {
	font-size: 28px;
}
.about-text p {
	width: 70%
}
.videos p {
	width: 75%;
}
.user-testimonial {
	padding: 45px 30px;
	height: auto;
}
.feature-disc h4 {
	font-size: 16px;
	line-height: 22px;
}
.testi1 {
	font-size: 15px;
	line-height: 24px;
}
.fa.fa-quote-right {
	top: 30px;
	right: -10px;
}
#about {
	margin: 30px 0 0;
}
.signup-form {
	width: 80%;
}
.cust-profile {
	width: 100px;
	height: 100px;
}
.builder-info img {
	width: 100px;
}
.profile h5 {
	font-size: 18px;
}
.cust-profile {
	margin: 0 10px;
}
.skill-builder p {
	width: 60%;
}
}


@media screen and (max-width: 768px) {
.topnav a {
	padding: 4px 14px;
}
.profile h5 {
	font-size: 17px;
}
}


@media screen and (max-width: 767px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a {
	display: none;
  }
.profile h5 {
	font-size: 16px;
}
.topnav a.icon {
	margin-top: -60px;
	font-size: 24px;
}
.navigation {
	width: 100%;
}

 .topnav.responsive {
	position: relative;
	border-top: 1px solid #ccc;
	margin-top: 10px;
}
 .topnav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -65px;
}
 .topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
	padding: 10px;
	margin-left: 10px;
}
  .icon:hover {
	border-bottom: none !important;
}
.topnav a:hover {
	color: #F6511D;
	border-bottom:none;
}
.login-btn:hover {
	color: #fff !important;
}
.login-btn {
	text-align: center !important;
	width: 150px;
	margin-left: 15px;
	margin-top: 15px;
}
.signup-btn {	
	margin-left: 15px;
	width: 150px;
	text-align: center !important;
	margin-top: 10px;
}
.client-logo {
	padding: 30px 0;
}
footer {
	padding: 40px 0 25px;
}

}



@media screen and (max-width: 640px) {
.bg-circle {
	top: -250px;
	left: -740px;
}
.col-span-4 {
	width: 50%;
}
.banner-right img {
	height: 260px;
	margin-top: 130px;
}
.signup-section {
	width: 100%;
}
.banner-text h2 {
	font-size: 26px;
}
.user-testimonial h2, .how-it-works h2, .videos h2, .about-text h2, .cust-section h2, .skill-builder h2 {
	font-size: 24px;
}
.steps-num {
	width: 90px;
	height: 90px;
	font-size: 32px;
}
.signup-form {
	width: 86%;
}
.skill-builder p {
	width: 80%;
}
.builder-info img {
	width: 70px;
}
.profile h5 {
	font-size: 15px;
}
.cust-profile {
	width: 90px;
	height: 90px;
}
.cust-profile {
	margin: 0 6px;
}
.cust-profile h3 {
	font-size: 12px;
	padding: 12px 9px;
}
.profile h6 {
	font-size: 13px;
	font-weight: 500;
	margin: 0 10px 5px;
}
}

@media screen and (max-width: 568px) {

.bg-circle {
	left: -840px;
}
.about-text h2, .videos h2, .user-testimonial h2 {
	font-size: 22px;
}
#about {
	padding: 0;
	margin:0;
}
.about-text p, .videos p {
	width: 80%;
}
.about-text h2::after, .videos h2::after, .user-testimonial h2::after {
	top: 30px;
}
.about-video iframe {
	height: 250px;
}
.cust-section h2 {
	font-size: 28px;
}
.banner-left {
	width: 100%;
	margin-left: 0;
}
.banner-right {
	float: left;
	width: 100%;
}
.signup-form {
	width: 90%;
}
.banner-right img {
	height: 400px;
	margin-top: 30px;
	float: left;
	margin-left: 25%;
}
.banner-text h2 {
	font-size: 28px;
	text-align: center;
	line-height: 1.5em;
	width: 80%;
	margin: 0 auto;
}
.banner-text p {
	width: 90%;
	margin: 10px auto;
}
.btn-lg {
	display: block;
	margin: 30px auto;
	width: 200px;
	padding: 10px;
}
.feature-disc h4 {
	font-size: 15px;
	line-height: 20px;
	padding: 0 10px;
}
.signup-form input[type="text"] {
	width: 42%;
}
.builder-profile {
	width: 70%;
}
.builder-info {
	width: 100%;
}
.builder-profile-api {
	width: 100%;
	float: left;
	margin: 30px auto;
}
}


@media screen and (max-width: 480px) {

.feature {
	width: 100%;
	margin-bottom: 30px;
}

.steps-num {
	width: 120px;
	height: 120px;
	font-size: 40px;
	line-height: 120px;
}
.builder-info img {
	width: 100px;
}
.feature-disc h4 {
	font-size: 18px;
}
.how-it-works {
	padding: 60px 0 0;
}
.signup-section {
	float: none;
	width: 90%;
	margin: 30px auto;
	text-align: center;
}
.videos {
	padding: 40px 0;
}
.signup-form h3 {
	font-size: 18px;
}
#video h2::after {
	top: 36px;
}
.intro-text {
	padding: 40px;
}
.about-text h2, .videos h2, .user-testimonial h2, .skill-builder h2 {
	font-size: 24px;
	line-height: 1.3em;
	padding: 0 40px;
}
.about-text h2::after, .videos h2::after{
	top: 70px;
}
.about-text p {
	width: 85%;
}
.about-video iframe {
	height: auto;
}
.about-text p, .videos p {
	width: 90%;
}
.col-span-4 {
	width: 100%;
}
.video-links h5 {
	margin-bottom: 30px;
}
.bg-circle {
	left: -1000px;
}
.banner-text h2 {
	font-size: 24px;
	line-height: 1.4em;
}
.testi1 {
	width: 90%;
	font-size: 14px;
	margin-bottom: 30px;
}
.social-footer {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.signup-form {
	width: 100%;
}
.signup-form input[type="text"] {
	width: 80%;
	margin:0 6%;
}
#video h2::after{
	top: 66px;
}
 .user-testimonial h2::after{
	top: 42px;
}
.submit-btn {
	margin: 10px 6%;
	width: 88%;
}
.builder-profile {
	width: 80%;
}
.skill-builder {
	padding: 60px 0 0;
}
.banner-right img {
	height: 300px;
	margin-top: 30px;
}
}

@media only screen and (max-width: 414px) {
.banner-right img {
	height: 300px;
	margin-left: 24%;
}
.testi1 {
	width: 100%;
}
.fa.fa-quote-right {
	top: 40px;
	right: -10px;
	font-size: 25px;
}
.testi1 {
	margin-top: 50px;
}
.about-text h2, .videos h2, .user-testimonial h2 {
	padding:0 20px;
}
.builder-profile {
	width: 90%;
}
}

@media only screen and (max-width: 360px) {
  .signup-form input[type="text"], .signup-form input[type="submit"] {
	width: 280px;
}
.skill-builder h2 {
	padding: 0 20px;
}
.submit-btn {
	width: 310px !important;
}
.banner-right img {
	margin-left: 18%;
}
.cust-section h4 {
	font-size: 16px;
}
.cust-section {
	padding: 30px 0;
}
.signup-form {
	padding-bottom: 10px;
}
.steps-num {
	width: 100px;
	height: 100px;
	line-height: 100px;
}
.builder-info img {
	width: 100px;
	margin-left: 20px;
}
}

@media only screen and (max-width: 320px) {
.bg-circle {
	left: -1290px;
}
.banner-right img {
	margin-left: 13%;
}
.about-text h2, .videos h2, .user-testimonial h2, .skill-builder h2 {
	padding: 0;
}
.testi1 {
	margin-top: 0px;
}
.signup-form input[type="text"], .signup-form input[type="submit"] {
	width: 260px;
}
.submit-btn {
	width: 290px !important;
}
.signup-form input[type="text"], .submit-btn {
	margin: 7px 5%;
}
.cust-section h2 {
	font-size: 24px;
}
.builder-profile {
	width: 96%;
}
.skill-builder p {
	width: 90%;
}
.builder-info {
	margin: 0 2%;
}
.user-name{ font-size:15px;}
  .prev, .next,.text {font-size: 11px}
}

