/* Skills Template CSS Document */
html, body{
	margin:0;
	background:	#fff;
	font-family: 'Sintony', sans-serif;
}
h4, h5, h6, h1, h2, h3 {
margin: 0;
font-family: 'Montserrat', sans-serif;
}
p{
margin:0; font-size: 13px;
color: #5f5e5e;
line-height: 24px;
}
ul,label, li{
	margin:0;
	padding:0;
}
li {
	list-style: none;
}
.clear{clear: both;}
a{color: #ff5722;}
a:hover { text-decoration:none;}
html, body, aside, haeder, footer, section{ display:block;}
.spacer1 {padding: 20px 0;}
.checklist{list-style: none; margin: 20px 0;}
.checklist li{padding: 15px 0;}
.checklist li i{padding-right: 10px; color: #797979;}


/*--banner--*/
.banner {
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	color: #2f2f2f;
	overflow: hidden;
}
.header {
	padding-top: 1em;
	position: relative;
	border-bottom: 1px solid #ededed;
}
.logo {
	padding: 0;
}
.logo img{width: 45%;}
.logo p{color: #888; font-size: 13px;}
/*--logo--*/
.navbar-header h1 {
    font-size: 20px;
}
.navbar-header h1 a {
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: #2f2f2f;
}
.logo span {
	color: #ff5722;
}
.navbar-header h1 a {
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 700;
}
/*--//logo--*/
/*--top-nav--*/
.navbar-default {
    background: none;
    border: none;
	margin: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ff5722;
    background: none;
}
.navbar-nav > li {
	margin: 0 7px;
}
.navbar-default .navbar-nav > li > a {
	font-size: 12px;
	padding: 0.7em 0.5em;
	text-transform: uppercase;
	font-weight: 600;
	color: #2f2f2f;
	letter-spacing: 0.5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #ff7200;
}
.navbar-default .navbar-nav li  a:hover:before,.navbar-default .navbar-nav li a.active:before{
	width: 100%;
}
.navbar-right {
	margin-right: 0;
}

/*--//top-nav--*/

/*--banner-text--*/
.banner-section {
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 550px;
}
.banner-text {
	width: 50%;
	margin-top: 10%;
	font-weight: 600;
	text-transform: uppercase;
	font-weight: 600;
	float: left;
}
.banner-text .info{text-transform: initial; font-weight: normal; line-height: 32px; font-size: 22px; color: #888;}
.banner-text a.more{
    font-size: 1.1em;
    padding: 0.7em 2em;
    display: inline-block;
    border: 2px solid #2f2f2f;
    margin-top: 2em;
}
.banner-text h1 {
	font-size: 68px;
	font-weight: 700;
	margin: 10px 0;
}
.banner-img {
	width: auto;
	top: 25%;
	right: 0;
	position: absolute;
	bottom: 0;
}
.banner-img img {
	width: 100%;
}
.banner-text h1 span {
	color: #ff5722;
}
.banner-text p {
    font-size: 14px;
    margin-top: 1em;
}
.link-btn {
	padding-top: 1.5em;
	display: block;
}
.start-btn {
	background: #ff5722;
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	font-size: 12px;
}
.signup-btn {
	color: #2f2f2f;
	font-size: 12px;
	padding: 13px 20px;
	border: 1px solid #2f2f2f;
	border-radius: 5px;
	margin-left: 20px;
}
.inner-header{
	background: #ff5722;
	padding: 50px 0;
	margin-bottom: 40px;
}
.inner-header h2{
	color: #fff;
}
.about-alexa {
	background: #f5f5f5;
	padding: 5em 0;
}
.about-alexa h3 {
	font-size: 26px;
	font-weight: 600;
	padding: 15px 0;
	position: relative;
}
.about-alexa h3::after {
	position: absolute;
	content: "";
	border: 1px solid #ff5722;
	width: 40px;
	bottom: 0;
	left: 0;
}
.about-text {
	margin-top: 20px;
}
.about-alexa p {
	margin: 10px 0;
	padding-bottom: 15px;
}
.about-alexa a {
	border: 2px solid #ff5722;
	padding: 15px 25px;
	border-radius: 5px;
	text-transform: uppercase;
	color: #ff5722;
	font-weight: 600;
	display: inline-block;
	margin-top: 1em;
}
.about-img { margin-top:2%;}

.about-img img{ width:100%;}
.complete-solutions {
	padding: 60px 0;
	color: #fff;
	text-transform: uppercase;
	background: #ff5722 url(../images/alexa-skill-bg.png) no-repeat bottom;
	width: 100%;
	overflow: hidden;
}
.complete-solutions h1 {
	text-align: center;
	font-size: 50px;
	font-weight: 800;
	padding: 20px 0;
}
.complete-solutions p {
	text-align: center;
	font-weight: 600;
	color:#ffffff;
}
.skill-set-section {
	padding: 70px 0;
}
.skill-set-section p {
	width: 65%;
	margin: 20px auto;
	text-align: center;
}
.skill-box {
	border: 1px solid #dadada;
	padding: 30px 30px 15px;
	box-shadow: 1px 1px 3px 0px #cccccc;
	min-height: 290px;
}
.skill-box p {
	width: 100%;
	text-align: justify;
}
.skill-box h1 {
	font-size: 50px;
	color: #ff5722;
	font-weight: 900;
	border-bottom: 3px solid #ff5722;
	min-width: 52px;
	padding-bottom: 4px;
	margin-bottom: 20px;
	max-width: 64px;
}
.skill-box h2 {
	font-size: 25px;
	color: #373636;
	font-weight: 600;
}
.skill-inner {
	padding: 90px 0 20px;
}

.start-btn:hover {
	background: #f64e19;
	color: #fff;
	transition: ease-in-out 0.3s;
}
.signup-btn:hover {
	background: #3b3b3b;
	color: #fff;
	transition: ease-in-out 0.3s;
}
.about-alexa a:hover {
	background: #ff5722;
	color: #fff;
	transition: linear 0.3s;
}
.sol-img {
	float: left;
	margin: 0 10px;
}
.sol-img img {
	width:100%;
}
.sol-img:hover {
	transform: scale(1.1x);
}
.solution-img {
	padding-top: 50px;
	display: table;
	margin: 0 auto;
}
.product-info {
	padding: 100px 0;
}
.p-info-img {
	width: auto;
	float: left;
	margin-top: 30px;
}
.p-info-text {
	width: 47%;
	float: left;
	padding: 45px 0 0 0;
	margin-left: 25px;
}
.sub-heading {
	text-transform: uppercase;
	font-weight: 600;
}
.p-info-text h1 {
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 20px;
	line-height: 75px;
}

.brand-icon {
	float: left;
}
.featured-section {
	padding: 40px 0;
	text-align: center;
}
.product-info {
	padding: 100px 0 80px;
	color: #2b2a2a;
}
.featured-section p {
	font-weight: 800;
	margin-bottom: 30px;
	color: #2b2a2a;
}
.brand-icon {
	float: left;
	margin: 0 12px;
}
.subscribe {
	padding: 100px 0;
	color: #fff;
	text-transform: uppercase;
	background: #ff5722 url(../images/alexa-skill-bg.png) no-repeat bottom;
	text-align: center;
}
.subscribe p {
	text-align: center;
	font-weight: 600;
	color: #fff;
	line-height: 50px;
}
.subscribe h2 {
	font-size: 40px;
	text-align: center;
	font-weight: 800;
	padding: 10px 0;
	line-height: 55px;
}
.subscribe-form {
	width: 65%;
	margin: 15px auto;
	position: relative;
}
input[type="email"] {
	width: 100%;
	position: relative;
	background: #d5471a;
	border: none;
	height: 72px;
	border-radius: 45px;
	padding: 10px 30px;
	text-transform: unset;
	font-weight: 600;
	font-size: 15px;
	outline: none;
}

.submit-btn {
	position: absolute;
	right: 15px;
	height: 50px;
	top: 10px;
	background: #ffffff;
	border: none;
	border-radius: 45px;
	width: 200px;
	color: #393838;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	outline: none;
}
.quality {
	padding: 60px 0;
}
.quality h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	color: #3b3b3b;
}
.quality-inner {
	margin: 60px 0 0;
}
.quality-box {
	text-align: center;
}
.icon-round {
	width: 100px;
	height: 100px;
	border: 2px solid #ff5722;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 7;
	margin: 0 auto;
}

.quality-text h4 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin: 20px 0;
}

.footer {
	background: #ff5722;
	padding: 40px 0;
	color: #ffffff;
}
.footer-top {
	width: 100%;
	float: left;
}
.footer-top h4 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}
.footer-top h3 {
	font-size: 35px;
	margin-bottom: 15px;
	font-weight: 700;
}
.footer-top h3 span {
	color: #000000;
}
.footer a {
	text-transform: uppercase;
	color: #fff;
}
.footer-top p {
	color: #fff;
}
.footer-top li {
	padding: 5px 0;
	font-weight: 600;
	font-size: 13px;
}
.footer-about {
	width: 32%;
	float: left;
	margin-right: 5%;
}
.helpful-links {
	float: left;
	width: 20%;
}
.footer-contact {
	width: 20%;
	float: left;
}
.footer-bottom {

	width: 100%;
	float: left;

}
.footer-bottom span {
	float: left;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 12px;
}
.footer-bottom ul {
	float: left;
}
.footer-bottom li {
	float: left;
	margin: 0 10px;
}
.bottom-mid {
	float: left;
	margin-left: 20%;
}
.bottom-left {
	float: left;
	font-size: 12px;
}
.bottom-right {
	float: right;
}
.bottom-mid a {
	border: 1px solid #fff;
	padding: 7px 18px;
}
.bottom-mid a:hover {
	background: #ffffff;
	color: #ff5722;
}
.social-icons i {
	line-height: 6px;
	text-align: center;
	padding-left: 8px;
	font-size: 30px;
}


.skill-set-section h3{font-size: 35px; font-weight: 600;}

/*--search--*/
.cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-header {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}
.nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(260px);
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
}
.cd-header-buttons {
	position: absolute;
	display: inline-block;
	top: -50px;
	right: 0;
}
.cd-header-buttons li {
	display: inline-block;
}
.cd-search-trigger, .cd-nav-trigger {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	z-index: 3;
}
.cd-search-trigger::before, .cd-search-trigger::after {
	/* search icon */
	content: '';
	position: absolute;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-search-trigger::before {
	top: 7px;
	left: 8px;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	z-index: 999;
}
.cd-search-trigger::after {
	height: 3px;
	width: 8px;
	background: #fff;
	bottom: 10px;
	right: 7px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #ff5722;
	border-radius: 50%;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
	/* close icon */
	content: '';
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 22px;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -11px;
	background: #fff;
	opacity: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
	/* hide search icon */
	-moz-opacity: 0;
	opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
	/* show close icon */
	-moz-opacity: 1;
	opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search {
	position: absolute;
	width: 60%;
	top: 10%;
	left: 8;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search input {
	border-radius: 5px;
	border: none;
	background: #e4e5e6;
	width: 100%;
	padding: 0 5%;
	-webkit-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	font-size: 14px;
	padding: 20px;
	color: #2f2f2f;
}
.cd-search input::-webkit-input-placeholder {
	color: #333 !important;
}
.cd-search input::-moz-placeholder {
	color: #333 !important;
}
.cd-search input:-moz-placeholder {
	color: #333 !important;
}
.cd-search input:-ms-input-placeholder {
	color: #333 !important;
}
.cd-search input:focus {
	outline: none;
}
.cd-search.is-visible {
	-moz-opacity: 1;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
/*--//search--*/


.featured{background: #eeeeee; padding: 30px; margin-bottom: 30px;}
.featured .video-box{margin: 0 0 20px 0;}
.featured h4{padding: 0 0 10px 0; }
.featured p{ padding: 10px 0;}

.faq{width: 70%; margin: 0 auto; text-align: center;}
.faq h4{font-size: 25px; padding: 15px 0;}
.accordion {text-align: left; margin: 30px 0;}

.accordion-header {
	cursor: pointer;
	text-align: left;
	border-bottom: 1px solid #000;
	padding: 20px 0;
	font-size: 20px;
}

.accordion-content {
	display: none;
	padding: 20px 0;
	color: #666;
}

.active {
	font-weight: 600;
}


/*------------  Responsive -------------*/


@media only screen and (max-width:1280px){
.sol-img {
	margin: 0 5px;
}
.about-img {
	margin-top: 6%;
}
}


@media only screen and (max-width:1024px){
.banner {
	min-height: 520px;
}
.sol-img {
	margin: 0 5px;
}
.banner-text h1 {
	font-size: 60px;
}
.banner-img {
	width: 50%;
	top: 30%;
}
.about-img {
	margin-top: 6%;
}
.about-img img{ width:100%;}
.about-alexa p {
	margin: 10px 0;
	padding-bottom: 0;
	line-height: 22px;
}
.skill-set-section {
	padding: 70px 0 50px;
}
.about-alexa {
	padding: 3em 0 5em;
}
.about-img {
	margin-top: 7%;
}
.skill-box p {
	line-height: 20px;
	font-size: 12px;
}
.complete-solutions {
	padding: 80px 0;
}
.complete-solutions h1 {
	font-size: 40px;
}
.sol-img {
	margin: 4em 0 0;
	width: 16%;
}
.p-info-img img{ width:100%;}
.p-info-text h1 {
	font-size: 48px;
	width: 90%;
	line-height: 50px;
	margin-top: 12px;
}
.product-info {
	padding: 80px 0 10px;
}
.featured-section .container {
	padding: 0px;
}
.brand-icon {
	float: left;
	margin: 0;
	width: 20%;
}
.brand-icon img{ width:80%;}

.subscribe {
	padding: 80px 0;
	text-align: center;
}
.subscribe h2 {
	font-size: 50px;
}
.footer-top li {
	font-size: 12px;
}
.footer-top p {
	font-size: 12px;
	line-height: 20px;
}
}

@media screen and (min-width: 320px) and (max-width: 480px){

.animated {
			/*CSS transitions*/
			-o-transition-property: none !important;
			-moz-transition-property: none !important;
			-ms-transition-property: none !important;
			-webkit-transition-property: none !important;
			transition-property: none !important;
			/*CSS transforms*/
			-o-transform: none !important;
			-moz-transform: none !important;
			-ms-transform: none !important;
			-webkit-transform: none !important;
			transform: none !important;
			/*CSS animations*/
			-webkit-animation: none !important;
			-moz-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

iframe {
	width: 100%;
}

.logo {
	display: flex;
}

.logo img{
	width: 60%;
}

.p-info-text{
	margin-left: 0 !important;
}

.doc-info{
	width: 100% !important;
}

.doc-video, .doc-video img{
	width: 100%;
}

.faq{
	width: 100%;
}

.navbar-toggle.collapsed {
	margin-right: 0;
	float: right;
	margin-top: 4px;
	padding: 6px;
}

.navbar-toggle {
	margin-right: 0;
	float: right;
	margin-top: 4px;
	padding: 6px;
}
.cd-search {
	width: 90%;
	top: 13%;
	left: 5%;
}
.banner {
	min-height: auto;
}
.banner-text {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	margin-top: 7%;
}
.banner-text p {
	margin: 2em 0;
}
.banner-img {
	width: 100%;
	position:relative;
}
.banner-text h1 {
	font-size: 34px;
	padding: 0 10px;
}
.about-alexa {
	padding: 2em 0;
}
.about-alexa p {
	padding-bottom: 5px;
}
.about-alexa a {
	margin-top: 0;
	margin-bottom: 15px;
}
.about-img img{ width:100%;}
.skill-set-section {
	padding: 50px 0 20px;
}
.skill-set-section p {
	width: 98%;
	line-height: 22px;
	margin-top: 10px;
}
.skill-box h1 {
	margin-bottom: 15px;
}
.skill-inner {
	padding: 20px 0;
}
.skill-box {
	padding: 20px 20px 10px;
	margin-bottom: 20px;
}
.about-alexa h3 {
	font-size: 24px;
}
.complete-solutions h1 {
	font-size: 30px;
	line-height: 40px;
}
.solution-img {
	padding-top: 10px;
}
.sol-img {
	float: none;
	margin: 0 auto;
	width: 70%;
}
.product-info {
	padding: 50px 0;
}
.p-info-img , .p-info-img img, .p-info-text{
	width: 100%;
}
.p-info-text{ text-align:center;}
.p-info-text h1 {
	font-size: 36px;
	width: 100%;
	line-height: 36px;
	margin-top: 10px;
}
.featured-section {
	padding-bottom: 30px;
	padding-top: 0px;
}
.featured-section p {
	margin-bottom: 10px;
}
.brand-icon {
	width: 65%;
	float: none;
	margin: 10px auto;
	border: 1px solid #cccccc;
	padding: 10px;
}
.brand-icon img{ width:100%;}
.subscribe {
	padding: 60px 0 40px;
}
.subscribe h1 {
	font-size: 30px;
	padding: 10px 0;
}
.subscribe-form {
	width: 100%;
}
input[type="email"] {
	height: 60px;
	border-radius: 35px;
}
.submit-btn {
	position: relative;
	height: 50px;
	border-radius: 35px;
	width: 60%;
	margin: 5% 20%;
	right: 0;
}
.quality {
	padding: 60px 0 20px;
}
.quality-text p {
	line-height: 22px;
}
.quality h3 {
	font-size: 18px;
	line-height: 24px;
}
.quality-inner {
	margin: 40px 0 0;
}
.quality-text h4 {
	margin: 20px 0 10px;
}
.quality-box {
	text-align: center;
	margin-bottom: 25px;
	padding: 0;
}
.footer {
	padding: 20px 0;
}
.footer-about, .helpful-links, .footer-contact  {
	width: 100%;
	padding: 10px;
}
.footer-top p {
	font-size: 12px;
	line-height: 18px;
}
.footer-top h3 {
	font-size: 28px;
	margin-bottom: 10px;
}
.footer-top li {
	padding: 0;
	font-weight: 500;
	font-size: 12px;
}
.footer-top h4 {
	margin-bottom: 10px;
}
.footer-bottom {
	margin-top: 0;
	padding: 0;
	position: relative;
}
.footer-bottom ul{
	float: none;
	text-align: center;
}
.social-icons li{
	float: none;
	display: inline;
	margin: 4px;
}
.footer-bottom span{
	float: none;
	margin-right: 0;
}
.bottom-mid {
	display: none;
}
.bottom-left{
	float: none;
	text-align: center;
}
.bottom-right {
	float: none;
	margin-top: 20px;
}
.bottom-left ul {
	margin-top: 9px;
}
.subscribe h2{
	font-size: 40px !important;
}
}

/* Mobile Landscape View */
@media screen and (min-width: 481px) and (max-width: 767px){
	.animated {
				/*CSS transitions*/
				-o-transition-property: none !important;
				-moz-transition-property: none !important;
				-ms-transition-property: none !important;
				-webkit-transition-property: none !important;
				transition-property: none !important;
				/*CSS transforms*/
				-o-transform: none !important;
				-moz-transform: none !important;
				-ms-transform: none !important;
				-webkit-transform: none !important;
				transform: none !important;
				/*CSS animations*/
				-webkit-animation: none !important;
				-moz-animation: none !important;
				-o-animation: none !important;
				-ms-animation: none !important;
				animation: none !important;
			}

	iframe {
		width: 100%;
	}

	.logo {
		display: flex;
	}

	.logo img{
		width: 60%;
	}

	.p-info-text{
		margin-left: 0 !important;
	}

	.doc-info{
		width: 100% !important;
	}

	.doc-video, .doc-video img{
		width: 100%;
	}

	.faq{
		width: 100%;
	}

	.navbar-toggle.collapsed {
		margin-right: 0;
		float: right;
		margin-top: 4px;
		padding: 6px;
	}

	.navbar-toggle {
		margin-right: 0;
		float: right;
		margin-top: 4px;
		padding: 6px;
	}
	.cd-search {
		width: 90%;
		top: 13%;
		left: 5%;
	}
	.banner {
		min-height: auto;
	}
	.banner-text {
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
		margin-top: 7%;
	}
	.banner-text p {
		margin: 2em 0;
	}
	.banner-img {
		width: 100%;
		position:relative;
	}
	.banner-text h1 {
		font-size: 34px;
		padding: 0 10px;
	}
	.about-alexa {
		padding: 2em 0;
	}
	.about-alexa p {
		padding-bottom: 5px;
	}
	.about-alexa a {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.about-img img{ width:100%;}
	.skill-set-section {
		padding: 50px 0 20px;
	}
	.skill-set-section p {
		width: 98%;
		line-height: 22px;
		margin-top: 10px;
	}
	.skill-box h1 {
		margin-bottom: 15px;
	}
	.skill-inner {
		padding: 20px 0;
	}
	.skill-box {
		padding: 20px 20px 10px;
		margin-bottom: 20px;
	}
	.about-alexa h3 {
		font-size: 24px;
	}
	.complete-solutions h1 {
		font-size: 30px;
		line-height: 40px;
	}
	.solution-img {
		padding-top: 10px;
	}
	.sol-img {
		float: none;
		margin: 0 auto;
		width: 70%;
	}
	.product-info {
		padding: 50px 0;
	}
	.p-info-img , .p-info-img img, .p-info-text{
		width: 100%;
	}
	.p-info-text{ text-align:center;}
	.p-info-text h1 {
		font-size: 36px;
		width: 100%;
		line-height: 36px;
		margin-top: 10px;
	}
	.featured-section {
		padding-bottom: 30px;
		padding-top: 0px;
	}
	.featured-section p {
		margin-bottom: 10px;
	}
	.brand-icon {
		width: 65%;
		float: none;
		margin: 10px auto;
		border: 1px solid #cccccc;
		padding: 10px;
	}
	.brand-icon img{ width:100%;}
	.subscribe {
		padding: 60px 0 40px;
	}
	.subscribe h1 {
		font-size: 30px;
		padding: 10px 0;
	}
	.subscribe-form {
		width: 100%;
	}
	input[type="email"] {
		height: 60px;
		border-radius: 35px;
	}
	.submit-btn {
		position: relative;
		height: 50px;
		border-radius: 35px;
		width: 60%;
		margin: 5% 20%;
		right: 0;
	}
	.quality {
		padding: 60px 0 20px;
	}
	.quality-text p {
		line-height: 22px;
	}
	.quality h3 {
		font-size: 18px;
		line-height: 24px;
	}
	.quality-inner {
		margin: 40px 0 0;
	}
	.quality-text h4 {
		margin: 20px 0 10px;
	}
	.quality-box {
		text-align: center;
		margin-bottom: 25px;
		padding: 0;
	}
	.footer {
		padding: 20px 0 0;
	}
	.footer-about, .helpful-links, .footer-contact  {
		width: 100%;
		padding: 10px;
	}
	.footer-top p {
		font-size: 12px;
		line-height: 18px;
	}
	.footer-top h3 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.footer-top li {
		padding: 0;
		font-weight: 500;
		font-size: 12px;
	}
	.footer-top h4 {
		margin-bottom: 10px;
	}
	.footer-bottom {
		margin-top: 0;
		padding: 0;
		position: relative;
	}
	.bottom-mid {
		position: absolute;
		right: 0;
		bottom: 20px;
	}
	.bottom-right {
		float: left;
		margin-top: 15px;
	}
	.bottom-left ul {
		margin-top: 9px;
	}
	.social-icons li {
		float: left;
		margin: 4px;
	}
	.social-icons i {
		width: 25px;
		height: 25px;
		line-height: 3px;
		padding-left: 5px;
	}
	.subscribe h2{
		font-size: 40px !important;
	}
}

/* Tablet View */
@media screen and (max-width:978px) and (min-width:768px) {
	.animated {
				/*CSS transitions*/
				-o-transition-property: none !important;
				-moz-transition-property: none !important;
				-ms-transition-property: none !important;
				-webkit-transition-property: none !important;
				transition-property: none !important;
				/*CSS transforms*/
				-o-transform: none !important;
				-moz-transform: none !important;
				-ms-transform: none !important;
				-webkit-transform: none !important;
				transform: none !important;
				/*CSS animations*/
				-webkit-animation: none !important;
				-moz-animation: none !important;
				-o-animation: none !important;
				-ms-animation: none !important;
				animation: none !important;
			}

.container{
	width: 100%;
}
.navbar-header{
	width: 45%;
}

.logo img{
	width: 55%;
}

.banner {
	min-height: auto;
}
.banner-text {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	margin-top: 7%;
}
.banner-text p {
	margin: 2em 0;
}
.banner-img {
	width: 100%;
	position:relative;
}
.banner-text h1 {
	font-size: 34px;
	padding: 0 10px;
}
.banner-img iframe{
	display: block;
	margin: 0 auto;
}
.skill-box{
	margin: 20px 0;
}
.p-info-text{
	width: 100%;
	margin-left: 0;
}
.quality-box{
	margin-bottom: 40px;
}
.bottom-mid{
	display: none;
}
.bottom-right{
	padding: 10px 0;
}
}

.doc-box{margin-bottom: 50px;}
.doc-info{ float: left; width: 45%; margin-right: 60px;}
.doc-video{float: left; margin-top: 30px;}
