<section class="bg-primary image-bg">
  <div class="background-image-holder fadeIn" style="background: url(&quot;/img/alexa-skill-bg.png&quot;);">
    <img alt="image" class="background-image" src="/img/alexa-skill-bg.png" style="display: none;">
  </div>
  <div class="container">
    <div class="row mb40 mb-xs-24">
      <div class="col-sm-12 text-center">
        <h3 class="bold mb8">Ready to get started?</h3>
        <p>Signup to get access to our video tutorials and templates.</p>
        <a class="btn btn-lg btn-rounded" href="{{site.registration_url}}">
          create an account
        </a>
      </div>
    </div>
  </div>
</section>