<section id="featured-videos-section">
  <div class="container text-center">
    <div class="row">
      <h2>Build Alexa Skills with Dabble Lab</h2>
      <p class="lead">
        Learn how to build custom Alexa skills, using our templates as a
        powerful starting point. All of our tutorial videos follow the same
        format and are accompanied by written instructions as well. Here are a
        selection of videos—access more using the button below.
      </p>
    </div>
    <div class="row">

      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/T2xc42UlYqo?showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        <h5>Alexa API Starter</h5>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/6ma4KgHqXYg?showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        <h5>Alexa Basic Starter</h5>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/aijZp3eXzVU?showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        <h5>Alexa Video App Starter</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/LgB4dJMkTVY?showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        <h5>Alexa Audio Stream Starter</h5>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/2Xfn5kNWbnU?showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        <h5>Alexa Customer Profile API</h5>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/NTTmZRHwjQE?showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        <h5>Alexa Skill with ASK-CLI</h5>
      </div>
    </div>

    <a class="btn btn-md" href="https://www.youtube.com/channel/UCfY-LopSxGekh9LruXLjffg">watch complete series</a>
  </div>
</section>