<!--banner-->
<section class="banner">
  <div class="container">
    <div class="header"><!--header-->
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo"><h1><a  href="/"><img src="/images/logo-dark.png"></a></h1></div>
      </div>
      <!--navbar-header-->
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="nav navbar-nav navbar-right">
          {% for item in site.data.nav.docs %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        <div class="clearfix"> </div>
      </div>
    </nav>
  </div>

<!--//header-->
</section>
<div class="inner-header">
  <div class="container">
    <h2>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h2>
  </div>
</div>
