<!--banner-->
<section class="banner">
  <div class="container">
    <div class="header"><!--header-->
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo"><h1><a  href="/"><img src="/images/logo-dark.png"></a></h1></div>
      </div>
      <!--navbar-header-->
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="nav navbar-nav navbar-right">
          {% for item in site.data.nav.docs %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        <div class="clearfix"> </div>
      </div>
    </nav>
  </div>

<!--//header-->
<!--banner-text-->
<div class="banner-section">
  <!--banner Slider starts Here-->
  <div class="banner-text wow flipInX" data-wow-duration="1.5s" data-wow-delay="0.2s">
    <h1><span>Alexa</span> Skill Templates</h1>
    <span class="info">Build custom Alexa skills with turn-key templates and videos tutorials to guide you.</span>
    <p class="link-btn wow bounceInDown"><a href="/getting-started" class="start-btn">Let's get started</a>  </p>
  </div>
  <div class="banner-img wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s"><iframe width="560" height="315" src="https://www.youtube.com/embed/A1V9BpNgKKw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
<!--//banner-text-->
</div>
<!--//banner-->
</section>
