<section class="image-slider slider-all-controls controls-inside parallax pt0 pb0 height-70">
  <ul class="slides">
    <li class="image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/home2.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row text-center">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="mb-xs-16">The fastest and easiest way to build <br class="hidden-sm">skills for Amazon Alexa.</h2>
            <p class="lead mb40">
              Build custom skills for Amazon Alexa using pre-built code templates
              <br>with easy to follow video tutorials to guide you.
            </p>
            <a class="btn btn-lg" href="#featured-videos-section">Our Templates</a>
            <a class="btn btn-lg btn-filled" href="https://app.skilltemplates.com/signup">Free Registration</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>